
body{
    margin:0;
    height:100vh;
    max-height: 100%;
    overflow: hidden;
}

canvas{
    position:absolute;top:0;left:0;
    z-index: -1;
    background-image: linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -o-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -moz-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -webkit-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    background-image: -ms-linear-gradient(bottom, rgb(105,173,212) 0%, rgb(23,82,145) 84%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(105,173,212)),
        color-stop(0.84, rgb(23,82,145))
    );
}

.left{
    width: 20vw;
    height: 100vh;
    display: inline-block;
    text-align: center;
    padding-top: 5%;
}

.right{
    width: 80vw;
    height: 100vh;
    max-height: 100vh;
    float: right;
    display: inline-block;
}

.draggable{
    max-height: 50px;
}

#tree{
    max-width: 100%;
    height: auto;
    max-height: 100%;
    padding-top: 5%;
}

#trash{
    display: inline-block;
    width: 5vw;
    height: 10vh;
    float: right;
    bottom: 0;
    right: 0;
}