body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.parallax {
    background-image: url('blindspotting.jpg');
    min-height: 750px;
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
}
  
.top-container {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    text-align: center;
}

.content {
    padding: 16px;
    text-align: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.menuButton {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
}

table {
    margin: auto;
}

td {
    padding: 5px;
}

.headings {
    font-size: 50px;
}