@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 992px) {
    .box {
        width: 50vw;
        margin-left: 50%;
        transform: translate(-50%, 0%);
    }
}

html {
    height: 100vh;
    background-color: aqua;
}

body {
    height: 98vh;
    padding: 0;
    margin: 0;
}

.box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1vh solid black;
}

.row {
    flex-grow: 1;
    max-height: 16.6%;
    display: flex;
    justify-content: space-around;
}

button {
    height: 95%;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 24%;
    padding: 5px;
    border-radius: 10px;
    font-size: 400%;
    background-color: #298777;
}

#evaluateDiv {
    line-height: 10%;
}