* {
    font-family: "Segoe UI";
}

a {
    text-decoration: none;
    color: black;
}

table {
    margin: 0px auto;
}

h1 {
    color: #298777;
}

.nav-container {
    background-color: #298777;
    padding: 15px;
    height: 75px;
}

.nav-container .logo {
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.nav-container li {
    float: right;
    list-style-type: none;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    border: solid white;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.nav-container a {
    color: white;
}

.container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container-left {
    width: 50%;
    height: 100%;
    float: left;
}

.container-right {
    width: 50%;
    height: 100%;
    float: right;
}

.container-flex {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.container-index {
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
}


#index-title {
    font-size: 60px;
    font-weight: bold;
    color: #298777;
}

#index-subtitle {
    font-size: 30px;
    font-weight: bold;
}

hr {
    max-width: 700px;
}

#about-me-description {
    text-align: left;
    padding: 75px;
}

#about-me-img {
    height: 500px;
    padding-top: 75px;
}

.resume-section-title {
    font-weight: bold;
    border-right: solid #298777;
    font-size: 20px;
    padding: 15px;
    text-align: right;
    vertical-align: top;
}

.resume-section {
    font-size: 20px;
    padding: 15px;
    text-align: left;
}

.icon {
    max-width: 50px;
    padding: 10px;
}

.container-projects a {
    height: 100%;
}

.project-item-clickable:hover {
    background-color: #298777;
}

.project-item, .project-item-clickable {
    width: 33%;
    text-align: center;
    border: solid 5px #298777;
    border-radius: 20px;
    margin: 20px;
}

.clickable {
    height: 100%;
    padding: 20px;
    padding-bottom: 0px;
}

.table-contact td {
    text-align: left;
}