@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

* {
    font-family: "Trebuchet MS";
}

.nav-container {
    background-color: #d7a8ff;
    padding: 15px;
    height: 70px;
}

.nav-container li {
    float: right;
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-container .logo {
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.nav-container a {
    text-decoration: none;
    color: white;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
}

.container-title {
    width: 48%;
    float: left;
    padding-right: 2%;
    text-align: left;
}

#main-name {
    font-size: 50px;
    text-align: center;
}

#about-me-content {
    text-align: left;
}

.container-description {
    width: 48%;
    float: right;
    padding-left: 2%;
    text-align: left;
}

#about-me-img {
    height: 500px;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

.contact-table {
    width: 25%;
    height: 100%;
    margin: auto;
}

.contact-table img {
    width: 50px;
}

.icon {
    padding: 10px;
    width: 20%;
}

.contact-link {
    padding: 10px;
    width: 80%;
    height: 100%;
    text-align: left;
    float: left;
    padding-top: 25px;
}

.container-projects {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-item {
    width: 33%;
    padding: 20px;
    text-align: left;
}

.container-projects h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    border: solid white;
}

.container-projects div.flex-item-clickable:hover {
    border: solid #d7a8ff;
}

video {
    height: 500px;
}
