* {
    font-family: Constantia;
}

.nav-container li {
    float: right;
    list-style-type: none;
    padding: 10px;
    font-size: 20px;
}

.nav-container .logo {
    float: left;
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.nav-container a {
    text-decoration: none;
    color: black;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
}

.container-title {
    width: 48%;
    float: left;
    padding-right: 2%;
    text-align: center;
}

.container-title #main-name {
    font-size: 50px;
}

.container-title #about-me-content {
    text-align: left;
}

.container-description {
    width: 48%;
    float: right;
    padding-left: 2%;
}

.about-me-img {
    height: 500px;
}

.contact-table {
    width: 25%;
    margin: auto;
}

.contact-table img {
    width: 50px;
}

.contact-table .icon {
    padding: 10px;
    width: 20%;
}

.contact-table .contact-link a {
    padding: 10px;
    width: 80%;
    text-align: left;
    text-decoration: none;
    color: black;
    float: left;
}